<div id="map" style="width: 100%; height: 300px;"></div>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
    const campground = <%- JSON.stringify(campground) %>
</script>
<script src="/javascript/detailsPageMap.js"></script>