<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-8">
        <%- include('./campground-card', { campground }) %>
    </div>
    <div class="col-4">
        <% if (currentUser) { %>
            <%- include('./review-form', { campground }) %>
        <% } %>
        <%- include('./reviews-section', { campground }) %>
    </div>
</div>
<div class="mb-3">
    <a href="/campgrounds" rel="noopener noreferrer" class="btn btn-secondary"><i class="bi bi-caret-left-fill"> </i>Back to campgrounds</a>
</div>

