<% layout('layouts/boilerplate') %>

    <h1>Campgrounds</h1>
    <div>
        <a href="/campgrounds/new" rel="noopener noreferrer">Add a new campground</a>
    </div>
    <ul>
        <% for (let cg of campgrounds) { %>
            <li>
                <span>
                    <%= cg.title %>
                </span>
                <a href="campgrounds/<%= cg._id %>" rel="noopener noreferrer">View camp</a>
            </li>
            <% } %>
    </ul>