<h3>Leave a review</h3>
<form action="/campgrounds/<%= campground.id %>/reviews" method="POST" novalidate class="validated-form mb-3">
    <div class="mb-3">
        <fieldset class="starability-basic">
            <input type="radio" id="no-rate" name="review[rating]" value="1" class="input-no-rate" checked aria-label="No rating." />
            <input type="radio" id="rate1" name="review[rating]" value="1" />
            <label for="rate1" title="Terrible">1 star</label>
            <input type="radio" id="rate2" name="review[rating]" value="2" />
            <label for="rate2" title="Not good">2 stars</label>
            <input type="radio" id="rate3" name="review[rating]" value="3" />
            <label for="rate3" title="Average">3 stars</label>
            <input type="radio" id="rate4" name="review[rating]" value="4" />
            <label for="rate4" title="Very good">4 stars</label>
            <input type="radio" id="rate5" name="review[rating]" value="5" />
            <label for="rate5" title="Amazing">5 stars</label>
        </fieldset>
        <label class="form-label" for="body">Review text</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
        <div class="invalid-feedback">Review needs a text body</div>
    </div>
    <button class="btn btn-success" type="submit">Submit review</button>
</form>
<hr>