<h3>Leave a review</h3>
<form action="/campgrounds/<%= campground.id %>/reviews" method="POST" novalidate class="validated-form mb-3">
    <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <div>
            <i class="bi bi-star-fill" style="color: gold;"> </i><output>3</output> / 5 
            <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating" oninput="this.previousElementSibling.value = this.value">
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
        <div class="invalid-feedback">Review needs a text body</div>
    </div>
    <button class="btn btn-success" type="submit">Submit review</button>
</form>
<hr>