<h3>Reviews</h3>
<% if (campground.reviews && campground.reviews.length > 0) { %>
    <% for (let review of campground.reviews) { %>
        <%- include('./review-card', { review }) %>
    <% } %>
<% } else { %>
    <div class="mb-2 text-muted">
        <p>There are no reviews yet. Be the first one to write one!</p>
    </div>
<% } %>