<h3>Map</h3>
<div id="map" class="mb-3"></div>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
    const campground = <%- JSON.stringify(campground) %>
</script>
<script src="/javascript/detailsPageMap.js"></script>